header {
	background: #4682B4;
	height: 200px;
  color: #FFFFFF;
}

header h1 {
  text-align: center;
	margin: 0;
	padding-top: 60px;
  font-family: 'Kalam', cursive;
}

header h2 {
  text-align: center;
  margin: 0;
  padding-top:20px;
  padding-bottom: 50px;
  font-family: 'Big Shoulders Display', cursive;
}

.top-box {
  height: 50px;
  width: 100%;
  border: 30px;
  background: #D3D3D3;
}

body {
	margin:0;
	padding:0;
	font-family: Sans-Serif;
	line-height: 1.5em;
}

.box {
  height: 160px;
  width: 550px;
  border: 30px;
  background: #A9A9A9;
}

.small-box {
  height: 50px;
  width: 550px;
  border: 30px;
  background: #A9A9A9;
}

.large-box {
  height: 230px;
  width: 550px;
  border: 30px;
  background: #A9A9A9;
}

ul {
  display: inline;
  padding-left: 5px;
  color: #333333;
  font-weight: bold;
}

li {
  float: left;
  display: block;
  color: white;
  padding: 16px;
  padding-left: 80px;
}

h3 {
  color: #4682B4;
  font-family: 'Didact Gothic', sans-serif;
}

main {
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: -10px;
  float: left;
  width: 80%;
  padding-left: 80px;
}

section {
  float: left;
  width: 60%;
}

aside {
  padding-bottom: 30px;
  float: right;
  width: 30%;
  font-family: 'Didact Gothic', sans-serif;
}

.topnav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #DCDCDC;
  padding-left: 80px;
}


h3 {
  font-size: 1rem;
}

p {
  font-size: .8rem;
}

a {
  color: #ADD8E6;
  font-size: 1rem
}

.grey-text {
  color: #333333;
}

footer {
  clear: both;
  background:	#696969;
  text-align: center;
  padding: 50px;
}
