* {
  font-family: Sans-serif;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1rem
}

aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

.grey-text {
  color: #333333;
}

a {
  color: #ADD8E6;
}
